<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /den>

        <!-- Css Phonegap -->
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        <!-- Include the compiled Ratchet CSS -->
        <link href="../css/ratchet.css" rel="stylesheet">

        <!-- Include the compiled Ratchet JS -->
        <script src="../js/ratchet.js"></script>

        <!-- AngularJs -->
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

        <title>Let's Go</title>
    </head>
    <body>
        <div ng-app="letsGo" ng-controller="eventController">

            <header class="bar bar-nav">
                <h1 class="title">Let's go?</h1>
            </header>
            <br><br>

                <div class="event_content" ng-repeat="i in names">
                    <br>
                    Uma imagem maneira
                    <br><br>
                    Event name: {{i.name}}
                    <br><br>
                    Description: {{i.description}}
                    <br><br>
                    At {{i.date}} - {{i.begin}} to {{i.end}}
                    <br>
                    In {{i.location}}
                    <br><br>
                    Event created by {{i.user_name + " " + i.user_last_name}}
                    <br><br><br>
                    <button class="btn btn-positive btn-block" ng-click="confirm_event(x.id_event)">Let's Go?</button>
                    <button class="btn btn-maybe btn-block">Let me think...</button>
                </div>

            <nav class="bar bar-tab">
                <a class="tab-item active" href="javascript: location.href='main.html';">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">Home</span>
                </a>
                <a class="tab-item" href="javascript: location.href='create.html'">
                    <span class="icon icon-star-filled"></span>
                    <span class="tab-label">Create</span>
                </a>
                <a class="tab-item" href="javascript: location.href='find.html'">
                    <span class="icon icon-search"></span>
                    <span class="tab-label">Find</span>
                </a>
                <a class="tab-item" href="javascript: location.href='me.html';">
                    <span class="icon icon-person"></span>
                    <span class="tab-label">Profile</span>
                </a>
                <a class="tab-item" href="javascript: location.href='more.html'">
                    <span class="icon icon-bars"></span>
                    <span class="tab-label">More</span>
                </a>
            </nav>

        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>
