<!DOCTYPE html>
<html>
    <body>
        <nav class="bar bar-tab">
            <a class="tab-item active" href="javascript: location.href='main.html';">
                <span class="icon icon-home"></span>
                <span class="tab-label">Home</span>
            </a>
            <a class="tab-item" href="javascript: location.href='create.html'">
                <span class="icon icon-star-filled"></span>
                <span class="tab-label">Create</span>
            </a>
            <a class="tab-item" href="javascript: location.href='find.html'">
                <span class="icon icon-search"></span>
                <span class="tab-label">Find</span>
            </a>
            <a class="tab-item" href="javascript: location.href='me.html';">
                <span class="icon icon-person"></span>
                <span class="tab-label">Profile</span>
            </a>
            <a class="tab-item" href="#">
                <span class="icon icon-bars"></span>
                <span class="tab-label">More</span>
            </a>
        </nav>
    </body>
</html>
